body {
  font-family: -apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.py-6 {
  padding: 4rem 0; }

html {
  font-size: 0.9rem; }
